@media (min-width: 1023px) and (max-width: 1145px) {
    .welcome h1 {
        font-size: 45px;
    }
}

@media (min-width: 768px) and (max-width: 1022px) {
    .welcome h1 {
        font-size: 25px;
        img {
            margin: 0 10px;
            max-height: 52px;
            height: 100%;
        }
    }
    .but {
        max-width: 75px;
        width: 100%;
        font-size: 16px;
    }
    #butCreate {
        margin-bottom: 25px;
        font-size: 20px
    }
    .hotDog {
        &-header {
            &__name {
                // max-width: 415px;
                // width: 100%;
                text-align: justify;
                font-size: 20px;
                margin-right: 10px;
            }
            &__options {
                max-width: 250px;
                width: 100%;
                display: flex;
                justify-content: flex-end;
                align-items: flex-start;
                margin-left: 10px;
                .delete {
                    width: auto;
                }
            }
        }
        &-description {
            font-size: 16px;
        }
        h2 {
            font-size: 21px;
            margin-bottom: 0;
        }
    }
    .hr {
        height: 2px;
        margin-top: 15px;
        background-color: rgba(248, 248, 248, 0.336);
    }
    .modal {
        border-radius: 10px;
        margin-top: 20px;
        textarea,
        input {
            font-size: 16px;
        }
        label {
            font-size: 18px;
        }
        .butForm {
            max-width: 150px;
        }
    }
}

@media only screen and (min-width: 500px) and (max-width: 767px) {
    .welcome {
        margin: 15px 0;
        h1 {
            font-size: 20px;
            img {
                max-height: 30px;
                height: 100%;
            }
        }
    }
    .but {
        max-width: 75px;
        width: 100%;
        font-size: 14px;
    }
    #butCreate {
        width: 85%;
        margin-bottom: 15px;
        font-size: 16px;
    }
    .hotDog {
        &-header {
            &__name {
                text-align: justify;
                font-size: 16px;
                height: 100%;
            }
            &__options {
                width: 100%;
                display: flex;
                justify-content: flex-end;
                align-items: flex-start;
                .delete {
                    width: auto;
                }
            }
        }
        &-description {
            font-size: 14px;
            span {
                text-indent: 0;
                line-height: normal;
            }
        }
        h2 {
            font-size: 16px;
            margin-bottom: 0;
        }
    }
    .hr {
        height: 1px;
        margin-top: 15px;
        background-color: rgba(248, 248, 248, 0.336);
    }
    .modal {
        border-radius: 5px;
        margin-top: 15px;
        textarea,
        input {
            font-size: 14px;
        }
        label {
            text-align: center;
            font-size: 14px;
        }
        .butForm {
            max-width: 75px;
        }
    }
}

@media only screen and (min-width: 320px) and (max-width: 499px) {
    .welcome {
        margin: 15px 0;
        h1 {
            font-size: 18px;
            img {
                display: none;
            }
        }
    }
    .but {
        max-width: 75px;
        width: 100%;
        font-size: 14px;
    }
    #butCreate {
        width: 85%;
        margin-bottom: 15px;
        font-size: 16px;
    }
    .hotDog {
        &-header {
            flex-direction: column-reverse;
            justify-content: space-between;
            align-items: space-between;
            flex-wrap: wrap;
            &__name {
                width: 100%;
                text-align: justify;
                font-size: 16px;
            }
            &__options {
                width: 100%;
                flex-direction: row;
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
                margin-bottom: 10px;
                .delete {
                    width: auto;
                    margin-left: 0;
                }
            }
        }
        &-description {
            font-size: 14px;
            span {
                text-indent: 0;
                line-height: normal;
            }
        }
        h2 {
            font-size: 16px;
            margin-bottom: 0;
        }
    }
    .hr {
        height: 1px;
        margin-top: 15px;
        background-color: rgba(248, 248, 248, 0.336);
    }
    .modal {
        border-radius: 5px;
        margin-top: 15px;
        textarea,
        input {
            font-size: 14px;
        }
        label {
            text-align: center;
            font-size: 14px;
        }
        .butForm {
            max-width: 75px;
        }
    }
}