<!DOCTYPE html>
<html>
<head>
  <% include ./partials/header.ejs %>
</head>
<body>
    <div class="wrap">
        <div class="content">
            <header>
                <div class="welcome">
                    <h1>Welcome to Hot <img src="./img/logo.png" alt="logo">
                        Dogs managment</h1>
                </div>
            </header>
            <main>
                <div class="modalWindow">
                    <form class="modal" method="POST" action="<%= item.formAction %>">
                        <h2><%= item.formTitle %></h2>
                        <label>Enter Hot Dog name</label>
                        <input type="textarea" name="name" value="<%= item.name %>">
                        <label>Enter Hot Dog description</label>
                        <input type="textarea" name="description" value="<%= item.description %>">
                        <div class="modalWindow-buttonLayer">
                            <button id="but" type="submit">Save</button>
                            <button id="but">Cancel</button>
                        </div>
                    </form>
                </div>
            </main>
        </div>

        <footer class="footer">
        </footer>
    </div>

    <script src="./js/jquery-3.4.1.min.js"></script>
    <script src="./js/main.js"></script>
</body>

</html>