<!DOCTYPE html>
<html>

<head>
    <% include ./partials/header.ejs %>
</head>

<body>
    <div class="content">
        <div class="welcome">
            <h1>Welcome to Hot <img src="/img/logo.png" alt="logo"> Dogs managment</h1>
        </div>
        <main>
            <div class="hotDog">
                <h2>
                    <%= item.formTitle %>
                </h2>
                <div class="hr"></div>
                <form class="modal" method="POST" action="<%= item.formAction %>">
                    <label for="valueName">Enter Hot Dog name</label>
                    <input id="valueName" type="text" name="name" value="<%= item.description %>" required>
                    <label for="valueDescription">Enter Hot Dog description</label>
                    <textarea id="valueDescription" rows="5" name="description" required><%= item.description %></textarea>
                    <div class="modal-buttonLayer">
                        <button class="but butForm greenHover" type="submit">Save</button>
                        <button class="but butForm redHover" type="reset" onclick="location.href = '/';">Cancel</button>
                    </div>
                </form>
            </div>
        </main>
    </div>

    <footer class="footer">
    </footer>
    </div>

    <script src="./js/jquery-3.4.1.min.js"></script>
    <script src="./js/main.js"></script>
</body>

</html>