<!DOCTYPE html>
<html lang="en">

<head>
    <% include ./partials/header.ejs %>

</head>

<body>
    <div class="content">
        <div class="welcome">
            <h1>Welcome to Hot <img src="./img/logo.png" alt="logo"> Dogs managment</h1>
        </div>
        <main>
            <button class="but" id="butCreate" onclick="location.href = '/new';">Create New Hot Dog</button>
            <% ar.forEach(function(item){ %>
                <div class="hotDog">
                    <div class="hotDog-header">
                        <div class="hotDog-header__name">
                            <span><%= item.name %> Dog</span>
                        </div>
                        <div class="hotDog-header__options">
                            <button class="but editBut" onclick="location.href = '/edit/<%=item._id %>';">Edit</button>
                            <form class="deleteBut" method="POST" action="/delete/<%= item._id %>?_method=DELETE">
                                <button class="but" type="submit">Delete</button></form>
                        </div>
                    </div>
                    <div class="hr"></div>
                    <div class="hotDog-description">
                        <span><%= String(item.description) %></span>
                    </div>
                </div>
                <% }); %>
        </main>
    </div>

    <script src="./js/jquery-3.4.1.min.js"></script>
    <script src="./js/main.js"></script>
</body>

</html>