@font-face {
	font-family: "TitilliumWeb";
	src: url("../fonts/TitilliumWeb/TitilliumWeb.woff2") format("woff2"),
	  url("../fonts/TitilliumWeb/TitilliumWeb.woff") format("woff"),
	  url("../fonts/TitilliumWeb/TitilliumWeb.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
  }

body{
	height: auto;
	color: #fff;
	font-family: "TitilliumWeb";
}
header{
	background: url(../img/header.jpeg);
	background-size: auto 50%;
	background-position: center;
	width: 100%;
	min-height: 400px;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}
.welcome{
	width: 80%;
	padding: 15px;
	background: rgba(50, 50, 50, 0.75);
	border-radius: 10px;
}
	
h1{
	display: flex;
	align-items: center;
	justify-content: center;
	color: whitesmoke;
	z-index: 20;
	opacity: 1;
	font-weight: bold;
	font-size: 52px;
}
h1 img{
	margin: 0 10px;
	max-height: 52px;
	height: 100%;
}

main{
	padding: 50px 0;
	background-color: rgba(0, 0, 0, 0.95);
	width: 100%;
	min-height: 150px;
	height: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}
main a{
	display: block;
	max-width: 75px;
	width: 100%;
	height: 50px;
	line-height: 50px;
	background: rgba(50, 50, 50, 0.75);
	color: whitesmoke;
	text-decoration: none;
	cursor: pointer;
	text-align: center;
	border-radius: 5px;
	font-size: 20px;
}
main a:hover{
	background: rgba(100, 100, 100, 0.75);
	transition: all 0.3s linear;
}
footer{
	background-color: rgb(0, 0, 0);
	width: 100%;
	height: 75px;
}
.table-layer{
	width: 80%;
	display: block;
}
table{
	margin-top: 25px;
	width: 100%;
}
table, tr, td{
	color: white;
	border: 1px solid white;
}
tr,td{
	height: 50px;
}
td{	
	vertical-align: middle;
	padding: 5px;
}
#text{
	font-family: "TitilliumWeb";

}
.active{
	display: table;
}

.modalWindow{
	background-color: rgba(50, 50, 50, 0.75);
	width: 500px;
	min-height: 250px;
	border-radius: 15px;
}
.modalWindow form{
	margin: 0 auto;
	width: 85%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}
.modal h2{
	font-size: 25px;
	font-weight: bold;
}
.modal input{
	max-width: 350px;
	width: 100%;
}
.modalWindow-buttonLayer{
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}
#but{
	max-width: 75px;
	width: 100%;
	height: 50px;
	background: rgba(50, 50, 50, 0.75);
	color: whitesmoke;
	font-size: 18px;
	border-style: groove;
	border: 1px solid rgba(100, 100, 100, 0.75);	border-radius: 5px;
	margin-top: 10px;
	cursor: pointer;
}
#create #but{
	border-style: groove;
	border: 1px solid rgba(100, 100, 100, 0.75);
}
/* #but:hover{
	background: rgba(100, 100, 100, 0.75);
	transition: all 0.3s linear;
} */
#but:hover, #del:hover{
	background: rgba(100, 100, 100, 0.75);
	transition: all 0.3s linear;
}

@media screen and (max-width: 1060px){
	h1 img{
		display: none;
	}
}